<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="frontcontainer">
        <div id="frontleft" class="frontbox">
            <div class="gridcontainer">
                    <img src="/oyvind.jpg" alt="" class="frontimg">
                    <h1 class="title">Øyvind Malin</h1>
            </div>
        </div>
        <div id="frontright" class="frontbox">
            <div class="gridcontainer">
                <p>Hurra venstre</p>
                <p>Hurra venstre</p>
                <p>Hurra venstre</p>
            </div>
        </div>
    </div>
</body>
</html>