{{ partial "partials/fronthead.html" . }}
{{ partial "partials/header.html" . }}
    <div class="container">
    
        <div class="frontpagecontent">
            {{ range .Site.RegularPages.GroupBy "Type" }}
            {{ if not (or (eq .Key "page") (eq .Key "pages")) }}
              <div class="frontpagebox">
                <h2>{{ .Key }}</h2>
                <ul>
                  {{ range .Pages }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                  {{ end }}
                </ul>
              </div>
            {{ end }}
          {{ end }}
          

        </div>
   
    </div>
    {{ partial "partials/footer.html" . }}