{{ partial "partials/fronthead.html" . }}

    <div class="container">
      {{ partial "partials/header.html" . }}
    
   <div class="box dark-slate-gray-bg ">
     <div class="textbox" ><p>HMM</p></div>
     <div class="textbox" ><h1>Dette er en overskrift</h1></div>
   </div>
      
    </div>

    <div class="listcontainer">
        
      {{ $counter := 0 }}
      {{ range where .Site.RegularPages "Params.frontpage" true }}
         {{ $counter = add $counter 1 }}
         <div class="box">
          {{ if eq (mod $counter 2) 0 }}
            <div class="textbox" ><img class="circleimage" src="{{ .Params.image }}" alt="{{ .Title }}"></div>
            <div class="textbox" ><h2>{{ .Title }}</h2>
              <p>{{ .Date.Format "January 2, 2006" }}</p></div>
          {{ else }}
            <div class="textbox" ><h2>{{ .Title }}</h2>
              <p>{{ .Date.Format "January 2, 2006" }}</p></div>
            <div class="textbox" ><img class="circleimage" src="{{ .Params.image }}" alt="{{ .Title }}"></div>
          {{ end }}
        </div>
      {{ end }}
      
   
    </div>
    {{ partial "partials/footer.html" . }}