/*
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;
*/

:root {
  /* Define CSS variables for each color */
  --ash-gray: #cad2c5ff;
  --cambridge-blue: #84a98cff;
  --hookers-green: #52796fff;
  --dark-slate-gray: #354f52ff;
  --charcoal: #2f3e46ff;
} 
body {

    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    
}



.container {
    display:flex;
    flex-wrap: wrap;
}


.dot {
    width:50px;
    height:50px;
    border-radius: 50%;
    background :#fff;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    left:50%;
    transform: translateX(-50%);
    align-items: center;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    border:1px #000 solid;
}

.backdot {
    width:50px;
    height:50px;
    border-radius: 50%;
    background :#fff;
    position: fixed;
    z-index: 100;
    top: 20px;
    left:20px;
    text-decoration: none;
    align-items: center;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    border:1px #000 solid;
}
.row {
    width:100%;
    display:flex;
}

video {
    height:60vh;
}


.aligntop {
    align-items: flex-start !important;
}
.box {
    width:100vw;
    min-height:50vh;
    display:flex;
  
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;

}

.listcontainer .box:nth-child(even) {
  /* CSS properties for even children */
  background-color: var(--cambridge-blue);
  color: #ffffff; /* White or light color */
}

.listcontainer .box:nth-child(odd) {
  background-color: var(--hookers-green);
  color: #ffffff; /* White or light color */
}


.textbox {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height:100%;
  display:flex;
}



.circleimage {
  border-radius: 50%;
  width:300px;
  height: 300px;
}

.headline {
    font-size:3em;
    
}

.headline2 {
    font-size:2.5em;
    
}

.textwhite {
    color: #fff;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .image-gallery > li {
    height: 300px;
    width:300px;
    cursor: pointer;
    position: relative;
    list-style-type:  none;
    flex: 1 1 auto;
  }
  
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
    border:2px #eee solid;
  }

 

.pagecontent {
    margin-top:100px;
    padding:5px 15px 5px 15px;
}

  



  /* nav */
  nav {
      text-align: center;
   
  }
  nav a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;

  }

  nav li {
      list-style-type: none;
  }

  header {
    text-align:center;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index:100;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase; 
    background: var(--charcoal);
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
   
}

header h1 {
  flex: 1;
  padding-left:20px;
}

header nav{
  flex:8
}
  header a:link {
      color: #fff;
      text-decoration: none;
  }

  header a:visited {
    color: #fff;
    text-decoration: none;
}


/*
Boxes
*/

.ash-gray-bg {
  background-color: var(--ash-gray);
  color: #000000; /* Black or dark color */
}

.cambridge-blue-bg {
  background-color: var(--cambridge-blue);
  color: #ffffff; /* White or light color */
}

.hookers-green-bg {
  background-color: var(--hookers-green);
  color: #ffffff; /* White or light color */
}

.dark-slate-gray-bg {
  background-color: var(--dark-slate-gray);
  color: #ffffff; /* White or light color */
}

.charcoal-bg {
  background-color: var(--charcoal);
  color: #ffffff; /* White or light color */
}

.fullheight {

  height:100vw;

}

.norepeat {

  background-repeat: no-repeat;
}

.readmore a {
  color: inherit;
  font-size:2em;
}

