{{ partial "partials/fronthead.html" . }}
{{ partial "partials/header.html" . }}
<div class="listcontainer">
        
  {{ $counter := 0 }}
  {{ range .RegularPages}}
     {{ $counter = add $counter 1 }}
     <div class="box">
      {{ if eq (mod $counter 2) 0 }}
        <div class="textbox" ><img class="circleimage" src="{{ .Params.image }}" alt="{{ .Title }}"></div>
        <div class="textbox" ><h2>{{ .Title }}</h2>
          <p>{{ .Date.Format "January 2, 2006" }}</p>
        <p class="readmore"><a href="{{ .Permalink  }}"><i class="las la-arrow-circle-right"></i></a></p>
        </div>
      {{ else }}
        <div class="textbox" ><h2>{{ .Title }}</h2>
          <p>{{ .Date.Format "January 2, 2006" }}</p>
          <p class="readmore"><a href="{{ .Permalink  }}"><i class="las la-arrow-circle-right"></i></a></p>
        </div>
        <div class="textbox" ><img class="circleimage" src="{{ .Params.image }}" alt="{{ .Title }}"></div>
      {{ end }}
    </div>
  {{ end }}
  

</div>
    {{ partial "partials/footer.html" . }}